$screenSize-mobile: 600;
$screenSize-tablet: 1000;
$screenSize-desktop: 1400;

$textColor-main: #000;
$textColor-link: #f64024;

$bgColor-main: #f2f2f2;

$fontFamily-main: 'Roboto Condensed', sans-serif;
