$screenSize-mobile: 600;
$screenSize-tablet: 1000;
$screenSize-desktop: 1400;

$textColor-main: #000;
$textColor-link: #f64024;
$textColor-filterCaption: #a8a8a8;

$bgColor-main: #f2f2f2;
$bgColor-submain: #fff;
$bgColor-rangeLine: #e0dbdb;

$fontFamily-main: 'Roboto Condensed', sans-serif;

$easing-bounnce: cubic-bezier(0.85,0.5,0.35,2);
