/* Import =================================================================== */
@import '~styles/mediaQueries.scss';
@import '~styles/constants.scss';

/* Common styles ============================================================ */
.container {
  list-style: none;
  display: flex !important;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  @include breakPoint(false, $screenSize-mobile) {

  }
}

.item {
  padding: inherit;
  a {
    transition: color 400ms ease-in-out;
  }
  &__active a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
